<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
    
<%@ page language="java" %>
<%@ page import="com.google.appengine.api.users.User" %>
<%@ page import="com.google.appengine.api.users.UserService" %>
<%@ page import="com.google.appengine.api.users.UserServiceFactory" %>
<%@ page import="java.util.List" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ page import="java.io.*,java.util.*" %>
<%@ page import="javax.servlet.http.HttpServletRequest" %>   
<%@ page import="com.google.appengine.api.blobstore.*" %>
<%@ page import="com.google.appengine.api.blobstore.BlobstoreServiceFactory" %>
<%@ page import="com.google.appengine.api.blobstore.BlobstoreService" %>
<%@ page import="com.google.appengine.api.datastore.*" %>
<%@ page import="com.google.appengine.api.datastore.GeoPt" %>
<%@ page import="com.google.appengine.api.datastore.Query.GeoRegion.*" %>
<%@ page import="com.google.appengine.api.images.*" %>
<%@ page import="com.google.appengine.api.datastore.Query.*" %>
<%@ page import="com.google.appengine.api.datastore.Query.Filter" %>

<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Lo-okup</title>

    <!-- Bootstrap core CSS -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/dropify.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/styles.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custome CSS-->    
    <!-- <link href="css/page-center.css" type="text/css" rel="stylesheet" media="screen,projection"> -->

   </head>

  <body class="blue-grey lighten-5">

  <%

    UserService userService = UserServiceFactory.getUserService();
    User user = userService.getCurrentUser();
    if (user == null) {
      response.sendRedirect("/login.jsp");
    }

    else {

      pageContext.setAttribute("user", user);
      DatastoreService datastore = DatastoreServiceFactory.getDatastoreService();

      Entity currentUser = null;

      try {
      Key userKey = KeyFactory.createKey("User", user.toString());
      currentUser = datastore.get(userKey);
      } catch(Exception e) {
        e.printStackTrace();
      }
      

    if(currentUser == null){
      response.sendRedirect("/reg.jsp"); 
      System.out.println("\n\n\n\n Redirecting \n\n\n\n");
    }


%>



   <div class="navbar-fixed"> 
    <nav>
    <div class="nav-wrapper">
       <a href="/index.jsp"><img src="images/nav.png" alt="" style="margin-left: 5em;width: 115px;"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%= userService.createLogoutURL("/login.jsp") %>" style="margin-right:5em;">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="<%= userService.createLogoutURL("/login.jsp") %>" style="margin-right:5em;">Logout</a></li>
      </ul>
    </div>
  </nav>
  </div>

      <!-- Example row of columns -->


      <div class= "container" style="margin-top: 6em">

      <h1> Your Current Location </h1>
      <div id="map" style="width:100%; height:500px;"></div>

        <div class="row">
          <div class="col l12">
            <div class ="row">

              <%

                ImagesService imagesService = ImagesServiceFactory.getImagesService();

                Filter publicFilter = new FilterPredicate("public",
                          FilterOperator.EQUAL,
                          "true");

                GeoPt center = new GeoPt(37.7913156f,-122.3926051f);
                double radius = 5000;
                Filter f = new StContainsFilter("location", new Circle(center, radius));

                Filter ownership = new FilterPredicate("owner",FilterOperator.EQUAL,user.toString());

                Filter compFilter = CompositeFilterOperator.and(f,publicFilter);


                Query q = new Query("Photo").setFilter(compFilter);
                PreparedQuery pq = datastore.prepare(q);

                for (Entity result : pq.asIterable()) {
                BlobKey blobKey = new BlobKey(result.getProperty("blobkey").toString());

                  %>

                  <div class="col l4" style="padding: 20px">

                    <div class="card" style="overflow: hidden;">
                      <div class="card-image waves-effect waves-block waves-light">
                        <div style="overflow: hidden; height:400px;">
                          <img  style="width:inherit" src="<%= imagesService.getServingUrl(blobKey) %>">
                        </div>
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4" style="text-transform: capitalize"><%= result.getProperty("title") %><i class="material-icons right">more_vert</i></span>

                        <div class="card-action" style="padding-top: 20px;padding-bottom: 20px;margin-bottom: -20px;">
                        <a href="#"><i class="material-icons" style="padding-right: 20px;">favorite_border</i></a>
                        <a href="#"><i class="material-icons">rate_review</i></a>
                        </div>
                      </div>
                      <div class="card-reveal" style="display: none; transform: translateY(0px);">
                        <span class="card-title grey-text text-darken-4"><p><%= result.getProperty("title") %></p><i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>

                    </div>
                  <%
                }

              %>

          <%

            }

          %>
         </div>
        </div>
      </div>
    </div>

      <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 5em; right: 8em;">
        <a class="btn-floating btn-large red">
          <i class="material-icons">add</i>
        </a>
        <ul>
          <li><a class="btn-floating btn-large red"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating btn-large yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn-floating btn-large green modal-trigger"  data-target="upload"><i class="material-icons">publish</i></a></li>
        </ul>
      </div>


    <!-- Site footer -->
    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Lookup</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2016 Lookup
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>



  <!-- Upload Modal Structure -->
  <div id="upload" class="modal">
    <div class="modal-content">

    <% 
      BlobstoreService blobstoreService = BlobstoreServiceFactory.getBlobstoreService();
    %>
    <div class = "container">
        <form id="upload-form" action="<%= blobstoreService.createUploadUrl("/upload") %>" method="post" enctype="multipart/form-data">

            <div class="row margin">
              <div class="input-field col s12">
                <input type="text" name="title" id="title" class="form-control input-sm">
                <label for="title" class="center-align">Title</label>
              </div>
            </div>

            <input type="radio" name="public" id="public" value="true" checked>
            <label for="public">Public</label>
            
            <input type="radio" name="public" id="private" value="false">
            <label for="private">Private</label>

             <div class="row section">
              <div class="col s12 m4 l3">
                 <p>Upload Image</p>
              </div>
              <div class="col s12 m8 l9">
                  <input type="file" name="photo" id="input-file-now" class="dropify" data-default-file="" />
              </div>
            </div>

        </form>

    </div>

    <div class="modal-footer">
     <button class="btn waves-effect waves-light" onclick="document.getElementById('upload-form').submit()" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
    </div>
  </div>




  <!-- Scripts -->
  <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="js/dropify.min.js"></script>

  <script>
    $(document).ready(function(){
    $('.modal-trigger').leanModal();
    $('.dropify').dropify();
    $('.materialboxed').materialbox();
  });
  </script>

  <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap" async defer></script>


  </body>
</html>
